<div class="page-header">
  <h1>Aihealueet</h1>
</div>

<div ng-repeat="topic in Topics">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a ng-href="#/topics/{{topic.id}}/messages">{{topic.name}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{topic.description}}
    </div>
  </div>
</div>

<h2>Lisää oma aihealueesi</h2>

<form>
  <div class="form-group">
    <label>Nimi</label>
    <input type="text" class="form-control" ng-model="newTopic.name">
  </div>

  <div class="form-group">
    <label>Kuvaus</label>
    <textarea class="form-control" ng-model="newTopic.description"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addTopic()">Lisää aihealue</button>
</form>
