<div class="page-header">
  <h1>{{topic.name}}</h1>
</div>

<p>
  {{topic.description}}
</p>

<h2>{{messageCount}}</h2>

<div ng-repeat="message in Messages"> 
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="#/messages/{{message.id}}">{{message.title}}</a>
        </h4>
        <p>
          {{message.content}}
        </p>
        <p class="text-muted">
          {{ message.User.username }}, {{ message.createdAt }}
        </p>
      </div>
    </li>
  </ul>
</div>

<h2>Lisää oma viestisi</h2>

<form>
  <div class="form-group">
    <label>Otsikko</label>
    <input type="text" class="form-control" ng-model="newMessage.title">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea class="form-control" ng-model="newMessage.content"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addMessage()">Lisää viesti</button>
</form>
