<div class="page-header">
  <h1>{{Message.title}}</h1>
</div>

<p>
 {{Message.content}}
</p>

<h2>{{replyCount}}</h3>

<div ng-repeat="reply in replies">
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading">{{ reply.User.username }}</h4>
  
        <p>
          {{reply.content}}
        </p>
  
        <p class="text-muted">
          1.1.2015 12:00
        </p>
      </div>
    </li>
  </ul>
</div>


<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply.content"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
</form>
