<div class="page-header">
  <h1>Kirjaudu sisään</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="login.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="login.password">
  </div>
  <div>
    <p style="color:#FF0000";>{{ errorMessage }}</p>
  </div>

  <button class="btn btn-primary" ng-click="logIn()">Kirjaudu sisään</button>
</form>
