<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="register.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="register.password">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="password" class="form-control" ng-model="register.password2">
  </div>
  <div class="form-group">
    <p style="color:#FF0000";>{{ regError }}</p>
  </div>
  
  <button class="btn btn-success" ng-click="register()">Rekisteröidy</button>
</form>
